img.chaordic_logo{
    display: block;
    width: auto;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 1%;
    padding-bottom: 0.5%;
}

img.footer_image{
    float: right;
    padding-left: 1%;
    padding-right: 1%;
}

p.shortener_intro_text{
    font-size: 32px;
}

li.top_5_item{
    display: block;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 2px solid #EEE;
}

li.last_top_5_item{
    display: block;
    list-style-type: none;
    font-size: 24px;
    font-weight: bold;
    text-align: left;
    padding-bottom: 10%;
    padding-top: 10px;
}

.top_5_hits{
    font-size: 24px;
    font-weight: 400;
    float:right;
    color: #777;
}

.footer_text{
    color: #AA1423;
    font-size: 26px;
}

.arrow_down{
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 50px solid white;
    margin:auto;
}

.line_top{
    width: 35%;
    border-top: 5px solid;
    border-color: #FF6E14;
    -moz-border-top-colors: #FF6E14;
    border-top-width: medium;
    margin-left: 27%;
    margin-top: -4px;
}

.hits_text{
    font-size: 22px;
    font-weight: 400;
    color: #777;
    padding-bottom: 5%;
}

.fading_text{
    opacity: 1;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

.input_white_text{
    color: white;
    font-size: 28px;
    font-weight: bold;
    line-height: 64px;
    padding-bottom: 4px;
}

.input_field{
    color: #FF6E14;
    font-size: 28px;
    line-height: 64px;
}

.hidden_text_button{
    opacity: 0;
    -webkit-transition: opacity 0.5s;
    -moz-transition: opacity 0.5s;
    transition: opacity 0.5s;
    background: none;
    border: none;
    margin-left: -2%;
    color: white;
    font-size: 20px;
    font-family: 'Roboto';
    font-weight: bold;
}

body{
  background-color: white;
  font-family: 'Roboto';
}

h1{
    font-family: 'Roboto Slab';
    font-size: 72px;
}

h2{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 60px;
}

h3{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 60px;
}

h4{
    font-family: 'Roboto Slab';
    font-weight: 400;
    font-size: 60px;
    background-color: white;
    border: 1px solid #777;
    border-radius: 10px;
    width: 17%;
    height: auto;
    left:0;
    right:0;
    margin:auto;
}

input{
    background: none;
    border: 0;
    width: 35%;
    height: 40px;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}

ul{
    width: 40%;
    margin: auto;
}

a{
    color: inherit;
    text-decoration: none;
}

#shortener_container{
    text-align: center;
    padding-bottom: 13%;
    padding-top: 15%;
    background-image: url("./../../Assets/background-home.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
}

#shortener_text{
    text-align: center;
    color: white;
}

#shorten_button{
    color: white;
    font-weight: bolder;
    font-size: 24px;
    text-align: center;
    background-color: #FF6E14;
    border: none;
    height: 60px;
    width: 10%;
    padding-bottom: 8px;
    padding-top: 15px;
    padding-right: 5px;
    padding-left: 5px;
}

#input_container{
    display: block;
    padding-top: 5%;
    font-size: 28px;
    text-align: center;
}

#top_5_container{
    text-align: center;
    color: #AA1423;
}

#hits_container{
    background-color: #EEE;
}

#footer{
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 1%;
}

input::-webkit-input-placeholder{
    color: #FF6E14;
    font-size: 28px;
}


input::-moz-placeholder{
    color: #FF6E14;
    font-size: 28px;
}

input:-moz-placeholder{
    color: #FF6E14;
    font-size: 28px;
}

input:focus{
    outline: none;
}

button:focus{
    outline: none;
}

button:hover{
    cursor: pointer;
    cursor: hand;
}
